#qrme-frame {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#qrme-frame canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
